<div id="service" class="service__container">
    <div class="service__container__wrapper py-5">
        <div class="row justify-content-evenly m-auto px-3">
            <h2 class="text-center my-3">Our Services</h2>
            <p class="text-center text-black-50  mb-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                itaque fugiat sapiente, optio debitis aut.
            </p>
            <div class="card shadow col-10 col-sm-4 col-md-3 col-xl-3  m-2">
                <span class="text-center mt-5"><i
                        class="fas fa-phone-alt fa-3x text-danger p-4 text-center shadow"></i></span>
                <h4 class="text-center my-5">Quasi reiciendis</h4>
                <p class="text-center mb-5">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum earum
                    voluptas eaque porro molestias?
                </p>
            </div>
            <div class="card shadow col-10 col-sm-4 col-md-3 col-xl-3  m-2">
                <span class="text-center mt-5"><i
                        class="fas fa-heart fa-3x text-danger p-4 text-center shadow"></i></span>
                <h4 class="text-center my-5">Quasi reiciendis</h4>
                <p class="text-center mb-5">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum earum
                    voluptas eaque porro molestias?
                </p>
            </div>
            <div class="card shadow col-10 col-sm-4 col-md-3 col-xl-3  m-2">
                <span class="text-center mt-5"><i
                        class="fas fa-user-alt fa-3x text-danger p-4 text-center shadow"></i></span>
                <h4 class="text-center my-5">Quasi reiciendis</h4>
                <p class="text-center mb-5">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum earum
                    voluptas eaque porro molestias?
                </p>
            </div>
            <div class="card shadow col-10 col-sm-4 col-md-3 col-xl-3  m-2">
                <span class="text-center mt-5"><i
                        class="fas fa-search fa-3x text-danger p-4 text-center shadow"></i></span>
                <h4 class="text-center my-5">Quasi reiciendis</h4>
                <p class="text-center mb-5">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum earum
                    voluptas eaque porro molestias?
                </p>
            </div>
            <div class="card shadow col-10 col-sm-4 col-md-3 col-xl-3  m-2">
                <span class="text-center mt-5"><i
                        class="fas fa-thumbs-up fa-3x text-danger p-4 text-center shadow"></i></span>
                <h4 class="text-center my-5">Quasi reiciendis</h4>
                <p class="text-center mb-5">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum earum
                    voluptas eaque porro molestias?
                </p>
            </div>
            <div class="card shadow col-10 col-sm-4 col-md-3 col-xl-3  m-2">
                <span class="text-center mt-5"><i
                        class="fas fa-eye-slash fa-3x text-danger p-4 text-center shadow"></i></span>
                <h4 class="text-center my-5">Quasi reiciendis</h4>
                <p class="text-center mb-5">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum earum
                    voluptas eaque porro molestias?
                </p>
            </div>

        </div>

    </div>
</div>