<app-header></app-header>
<main class="main__container mb-5">
    <div class="main__container__wrapper">
        <div class="row container-fluid p-5">
            <div class="col-12 col-sm-12 col-md-6 pb-5">
                <h1>Best Design App And IT Solutions</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, et.</p>
                <button class="btn btn-outline-light"><i class="fas fa-globe"></i> Explore</button>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                    <img class="img-fluid" src="../assets/banner.png" alt="">
            </div>
        </div>

    </div>
    
</main>
<app-footer></app-footer>